*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:sans-serif; */
    font-family:sans-serif;
}
body{
    /* background-color: rgb(15, 18, 31); */
    /* background-color: red; */
    /* color: rgba(0, 0, 0, 0.87); */
    color: #EBEBEB;
    font-weight: 400;
}
nav{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 115px;
    padding-top: 1%;
    line-height: 28px;
    background-color: rgb(15, 18, 31);
}
ul, ol{
    list-style: none;
    padding: .6%;  
    overflow: hidden;
    width: 100%;
    font-size: 19px;
}

ul{
    padding-left: 10%;
}
ul li, ol li{
    float:left;
}
ol{
    padding-left: 9%;
}
ol .acc{
    margin-right: 3.2%;
}
ol .ol{
    margin-left: 40%;
    font-size: 16px;
}
ol .li{
    margin-left: 4%;
    font-size: 16px;
}
li a{
    text-decoration: none;
    display: block;
    color: #EBEBEB;
}
li a:hover{
    color: #b6ddb9;
}
header{
    position: relative;
    /* top: 110px; */
    /* z-index: 2; */
}
.header{
    position: absolute;
    width: 100%;
    height: 705px;
    top: 115px;
    background-color: rgb(21, 24, 37);
}
.headerimg{
    position: absolute;
    top: 20px;
    left: 7%;
}
.headertext{
    width: 45%;
    position: absolute;
    top: 150px;
    left: 45%;
    font-size: 20px;
    color: #EBEBEB;
}
.headertext h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 9%;
}
.headertext p{
    line-height: 30px;
    margin-bottom: 9%;
}
.headertext a{
    color:rgba(0, 0, 0, 0.87); ;
    text-decoration: none;
    background-color:#b6ddb9;
    border-radius: 8px;
    padding: 14px 24px;
}
.headertext a:hover{
    background-color: #9cd6a0;
}
section #section1{
    position: relative;
}
.sec1{
    position: absolute;
    width: 100%;
    height: 555px;
    top: 820px;
    background-color: rgb(15, 18, 31);
}
.sec1text{
    position: absolute;
    top: 90px;
    left: 8%;
    font-size: 20px;
    color: #EBEBEB;
}
.sec1img{
    position: absolute;
    top: 130px;
    left: 57%;
}
.sec1text h2{
    width: 75%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 2%;
}
.sec1text .p{
    font-size: 22px;
    line-height: 32px;
    max-width: 45ch;
}
.sec1text #p{
    margin-bottom: 5%;
}
section .sec1icons{
    position: absolute;
    top: 335px;
    left: 8%;
}
.icon{
    display: block;
}
section .para{
    position: absolute;
    top: 260px;
    left: 10%;
}
.bottom-right{
    position: absolute;
    top: 460px;
    left: 79%;
    font-size: 18px;
    color:#EBEBEB;
}
section #section2{
    position: relative;
}
.sec2{
    position: absolute;
    width: 100%;
    height: 531px;
    top: 1375px;
    background-color: #2A303A;
}
.sec2img{
    position: absolute;
    top: 160px;
    left: 14%;
}
.sec2text{
    position: absolute;
    top: 110px;
    left: 43%;
    color: #EBEBEB;
}
.sec2text h2{
    font-family:cursive;
    margin-bottom: 5%;
    font-size: 35px;
}
.sec2text p{
    font-size: 22px;
    line-height: 32px;
    max-width: 55ch;
}
section #section3{
    position: relative;
}
.sec3{
    position: absolute;
    width: 100%;
    height: 556px;
    top: 1906px;
    background-color: rgb(15, 18, 31);
}
.sec3text{
    position: absolute;
    top: 140px;
    left: 8%;
    font-size: 20px;
    color: #EBEBEB;
}
.sec3img{
    position: absolute;
    top: 70px;
    left: 65%;
}
.sec3text h2{
    font-family:cursive;
    margin-top: 2%;
    margin-bottom: 5%;
}
.sec3text p{
    font-size: 20px;
    line-height: 40px;
    max-width: 55ch;
}
section #section4{
    position: relative;
}
.sec4{
    position: absolute;
    width: 100%;
    height: 566px;
    top: 2462px;
    background-color: #2A303A;
}
.sec4img{
    position: absolute;
    top: 80px;
    left: 14%;
}
.sec4text{
    position: absolute;
    top: 110px;
    left: 43%;
    color: #EBEBEB;
}
.sec4text h2{
    font-family:cursive;
    margin-top: 4%;
    margin-bottom: 5%;
    font-size: 35px;
}
.sec4text p{
    font-size: 18px;
    line-height: 32px;
    max-width: 57ch;
}
section #section5{
    position: relative;
}
.sec5{
    position: absolute;
    width: 100%;
    height: 256px;
    top: 3028px;
    background-color: rgb(15, 18, 31);
}
.sec5 .secure{
    position: absolute;
    text-align: center;
    top: 58px;
    left: 10%;
}
.secure h3{
    font-family: cursive;
    margin: 2% 0;
}
.secure p{
    font-size: 18px;
    line-height: 28px;
    max-width: 30ch;
}
.sec5 .fscs{
    position: absolute;
    text-align: center;
    top: 62px;
    left: 37%;
}
.fscs h3{
    font-family: cursive;
    margin: 2% 0;
}
.fscs p{
    font-size: 18px;
    line-height: 28px;
    max-width: 32ch;
}
.sec5 .sharia   {
    position: absolute;
    text-align: center;
    top: 62px;
    left: 65%;
}
.sharia h3{
    font-family: cursive;
    margin: 2% 0;
}
.sharia p{
    font-size: 18px;
    line-height: 28px;
    max-width: 34ch;
}
footer #footer1{
    position: relative;
}
.foot1{
    position: absolute;
    width: 100%;
    height: 530px;
    top: 3284px;
    background-color: #2A303A;
    border-top: .3px solid #b6ddb9;
}
table{
    width: 90%;
    margin-top: 4%;
}
th{
    color: #9cd6a0;
    text-align: left;
}
.th{
    padding-left: 7%;
}
td a{
    text-decoration: none;
    color: #EBEBEB;
    text-align: left;
    font-size: 18px;
}
th, td{
    padding-left: 2%;
    padding-bottom: 1.5%;
}
.fa-brands{
    padding-left: 5%;
    font-size: 25px;
}
#foot2{
    position: absolute;
    width: 100%;
    height: 350px;
    top: 3814px;
    background-color: rgb(15, 18, 31);
}
.foot2logos .blme{
    position: absolute;
    top: 40px;
    left: 28%;
}
.foot2logos .sub{
    position: absolute;
    top: 60px;
    left: 52%;
    display: inline-block;
}
.foot2logos .boubyan{
    position: absolute;
    top: 5px;
    left: 58.5%;
}
.foot2text{
    position: absolute;
    top: 120px;
    left: 20%;
    text-align: center;
    width: 57%;
    font-size: 12px;
    line-height: 20px;
}
.footlink a{
    color: #EBEBEB;
}